:root {
    --color-background: #f6d9f1;
    --color-secondary: #f3c2c9;
    --color-border: #f3c2c9;
    --color-text: #000000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--color-background);
}

.header {
    position: relative;
    height: 8rem;
    width: 100%;
    background-color: var(--color-secondary);
    
}

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header__nav__logo {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 2rem;
}

.header__nav__logo__img {
    width: 16rem;
    height: auto;
    object-fit: cover;
}

.header__nav__carrinho {
    position: absolute;
    max-width: 4rem;
    top: 2rem;
    right: 2rem;
    height: auto;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__nav__carrinho__img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.main__introducao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    border-style: solid;
    background-color: var(--color-secondary);
    border-color: var(--color-border);
    margin: 1rem;
    border-radius: 1rem;
    gap: 1rem;
}

.main__introducao__titulo {
    font-size: 3rem;
    font-weight: bold;
}

.main__introducao__descricao {
    font-size: 1.4rem;
    color: var(--color-text);
}

.main__produtos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 5rem;
    border-style: solid;
    background-color: var(--color-secondary);
    border-color: var(--color-border);
    margin: 1rem;
    border-radius: 1rem;
}

.main__produtos__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 5rem;
    border-style: solid;
    border-radius: 1rem;
    background-color: var(--color-background);
    border-color: var(--color-border);
    overflow: hidden;
}

.main__produtos__item__img {
    width: 15rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem;
    transition: transform 0.3s ease;
}

.main__produtos__item__img:hover {
    transform: scale(1.1);
}

.main__produtos__item__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    margin: 1rem 0;
}

.main__produtos__item__titulo {
    font-size: 1.5rem;
    font-weight: bold;
}

.main__produtos__item__descricao {
    font-size: 1.2rem;
    color: var(--color-text);
}

.main__produtos__item__preco {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

.main__produtos__item__preco:hover {
    transform: scale(1.1);
}

.main__produtos__item button {
    padding: 1rem 1.6rem;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #f599c7;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.main__produtos__item button:hover {
    background-color: #e673a3;
}