:root {
    --color-background: #f3c8ec;
    --color-secondary: #f3c2c9;
    --color-border: #f3c2c9;
    --color-text: #000000;
    --color-title: #000000;
    --title-hover: #de1364;
    --color-carrinho: #fcbcd9;
    --color-button: #f599c7;
    --button-hover: #e673a3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background-color: var(--color-background);
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--color-secondary);
}

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header__nav__logo {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 2rem;
    transition: transform 0.5s ease;
}

.header__nav__logo:hover {
    transform: scale(1.1);
}

.header__nav__logo__img {
    width: 16rem;
    height: auto;
    object-fit: cover;
}

.header__nav__carrinho {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    right: 2rem;
    height: auto;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.header__nav__carrinho:hover {
    transform: scale(1.1);
}

.header__nav__carrinho__img {
    width: 4rem;
    height: auto;
    object-fit: cover;
}

.main__introducao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    border-style: solid;
    background-color: var(--color-secondary);
    border-color: var(--color-border);
    margin: 1rem;
    border-radius: 1rem;
    gap: 1rem;
}

.main__introducao__titulo {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-title);
    transition: color 0.5s ease;
}

.main__introducao__titulo:hover {
    color: var(--title-hover);
}

.main__introducao__descricao {
    font-size: 1.4rem;
    color: var(--color-text);
}

.main__produtos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 5rem;
    border-style: solid;
    background-color: var(--color-secondary);
    border-color: var(--color-border);
    margin: 1rem;
    border-radius: 1rem;
}

.main__produtos__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 5rem;
    border-style: solid;
    border-radius: 1rem;
    background-color: var(--color-background);
    border-color: var(--color-border);
    overflow: hidden;
}

.main__produtos__item__img {
    width: 15rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem;
    transition: transform 0.3s ease;
}

.main__produtos__item__img:hover {
    transform: scale(1.1);
}

.main__produtos__item__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    margin: 1rem 0;
}

.main__produtos__item__titulo {
    font-size: 1.5rem;
    font-weight: bold;
}

.main__produtos__item__descricao {
    font-size: 1.2rem;
    color: var(--color-text);
}

.main__produtos__item__preco {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

.main__produtos__item__preco:hover {
    transform: scale(1.1);
}

.main__produtos__item button {
    padding: 1rem 1.6rem;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: var(--color-button);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.main__produtos__item button:hover {
    background-color: var(--button-hover);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    background-color: var(--color-secondary);
    margin: 1rem;
    border-radius: 1rem;
    gap: 0.5rem;
}

.footer__texto {
    font-size: 1.1rem;
    color: var(--color-text);
}

.footer__autor {
    font-size: 1rem;
    color: var(--color-text);
}

.carrinho-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 50rem;
    height: 100%;
    background-color: var(--color-carrinho);
    z-index: 1000;
    transform: translateX(100%); 
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.4s ease;
}

.carrinho-modal.aberto {
  transform: translateX(0); 
  opacity: 1;
}


.carrinho-modal__conteudo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-height: 90vh;
    overflow-y: auto;
    padding: 2rem;
}

.carrinho-modal__fechar {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
}

.carrinho-modal__fechar:hover {
    background-color: #ec547780;
    border-radius: 1rem;
}

.carrinho-modal__titulo {
    font-size: 2rem;
    color: var(--color-title);
    font-weight: bold;
    margin-bottom: 1rem;
}

.carrinho-modal__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    padding-bottom: 1rem;
}

.carrinho-modal__total {
    margin-top: auto;
    align-self: flex-end;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    text-align: right;
}

.carrinho-modal__finalizar {
    margin-top: auto;
    align-self: flex-end;
    padding: 1rem;
    height: auto;
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    color: #ffffff;
    background-color: var(--color-button);
    border: 2px solid #000000;
    border-radius: 0.5rem;
    cursor: pointer;
}

.carrinho-modal__finalizar:hover {
    background-color: var(--button-hover);
}

@media (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header__nav__logo__img {
        width: 13rem;
    }

    .main__produtos {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
    }

    .main__produtos__item {
        width: 100%;
        padding: 1.5rem 2rem;
    }

    .main__produtos__item button {
        padding: 1rem 1.6rem;
    }

    .carrinho-modal {
    border-radius: 0; 
    padding: 1rem;
  }

  .carrinho-modal__conteudo {
    padding: 1rem;
    gap: 1rem;
  }

  .carrinho-modal__titulo {
    font-size: 2rem;
  }

  .carrinho-modal__total {
    font-size: 1.7rem;
  }

  .carrinho-modal__finalizar {
    font-size: 1.4rem;
    padding: 0.8rem;
  }
}

@media (min-width: 768px) and (max-width: 1250px) {
    .main__produtos {
        flex-direction: column;
        gap: 1rem;
    }

    .main__produtos__item {
        padding: 4rem 10rem;
        gap: 1.5rem;
    }

    .main__produtos__item__img {
        width: 23rem;
        height: 30rem;
    }
    
    .main__produtos__item__titulo {
        font-size: 1.8rem;
    }

    .main__produtos__item__descricao {
        font-size: 1.5rem;
    }

    .main__produtos__item__preco {
        font-size: 2rem;
    }

    .main__produtos__item button {
        padding: 1.2rem 2rem;
        font-size: 1.2rem;
    }

    .carrinho-modal__titulo {
        font-size: 2.5rem;
    }

    .carrinho-modal__total {
        font-size: 2rem;
    }

    .carrinho-modal__finalizar {
        font-size: 1.7rem;
        padding: 1rem;
    }
}